.col-md-3
  = link_to 'New Match', new_match_path
.col-md-6.col-md-offset-3
  #matches.transitions-enabled
    - @matches.each do |match|
      .box.panel.panel-default
        = link_to 'See More', match
        %h2= link_to match.local, match
        %h2= link_to match.visitor, match
        %h2= link_to match.kickoff, match
